
<h1><%= @event.name %></h1>
<h3><%= @event.date %></h3>

<hr>

<form action="/event/<%= @event.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <div class='row'>
    <div class='col-md-6'>
      <label for="name">Rename your event:</label>
    </div>
    <div class='col-md-6'>
      <input id="name" name="name" type="text" placeholder="<%= @event.name() %>">
    </div>
  </div>

  <br>

  <div class='row'>
    <div class='col-md-6'>
      <label for="date">Change your event's date:</label>
    </div>
    <div class='col-md-6'>
      <input id="date" name="date" type="text" placeholder="<%= @event.date() %>">
    </div>
  </div>

  <br>

  <div class='row'>
    <div class='col-md-6'>
      <label for="imageurl">Change your event's image:</label>
    </div>
    <div class='col-md-6'>
      <input id="imageurl" name="imageurl" type="text" placeholder="<%= @event.imageurl() %>">
    </div>
  </div>

  <br>

  <button class="btn btn-success" type="submit">Update</button>

</form>
<br>
<form action="/event/<%= @event.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button class="btn btn-danger" type="submit">Delete event</button>
</form>

<br>

<button class='btn btn-primary'><a href='/admin'>Back to admin</a></button>
