<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script>

  $(document).ready(function(){
      $('a[href^="#"]').on('click', function(e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);

        $('html, body').animate({
          'scrollTop': $target.offset().top
        }, 400, 'swing');
        });
      });
  </script>
</head>

<body>
  <a id="buy_tickets"></a>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <img id="logo" class="navbar-brand" src="/img/logo.png"></img>
    </div>
    <ul class="nav navbar-nav">
      <li id="name_user"><a>Welcome <%=@user.username()%>!</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li id="name_user"><a href="#buy_tickets">Buy Tickets</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li id="name_user"><a href="#sell_tickets">Sell Tickets</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li id="name_user"><a href="/manage_sales">Manage Tickets</a></li>
    </ul>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          <li id="name_user"><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">

</div>
<div class="searchbar">
  <h4><span class="search-text">Find Your Next Event</span></h4>
  <form action='/search' method = 'get'>
    <input type='text' name="search" id ="search" placeholder="Search by event or artist name" width="50">
    <button type='submit' class="btn search-btn">Search</button>
  </form>
  <a id="sell_tickets"></a>

  <% @categories.each() do |category| %>
    <form action='/categorysearch' method='get' class="categories">
      <button class="btn btn-info" type="submit" value="<%=category.id()%>" name="categorysearch"><%= category.name() %></button>
    </form>
 <% end %>
</div>

<br>
<div class="panel panel-primary class">
  <div class="panel-heading" id="sell_box" style="border: 3px solid;">Sell a ticket! It's fast, easy and free.</div>
  <div class="panel-body">
    <form action="/offer" method="post">
      <label for="event_id">Select a Event</label>
      <select id='event_id' name='event_id' type='text'>
        <% @events.each() do |event| %>
        <option value="<%= event.id()%>"> <%= event.name() %> </option>
        <% end %>
      </select>

      <label for="price">Price:</label>
      <input id="price" name="price" type="number">



   <!-- <input type="radio" name="offer" value="false">Buy -->
    <input type="hidden" name="offer" value= "true">


      <button type="submit" class="btn btn-primary">Sell</button>
    </form>
  </div>
</div>
<!-- offers start here -->
<div class="panel panel-primary class">
  <div class="panel-heading" id="sell_box" style="border: 3px solid;">Check out tickets to upcoming events:</div>
</div>
    <% @offers.each() do |offer| %>

    		<div class="panel panel-default">
  				<div class="panel-body">


    				<div class="col-md-2">
    					<%= offer.event.name %>
    				</div>
  	      		<div class="col-md-2">
  	      			HKD <%= offer.price %>
  	      		</div>
  	      		<div class="col-md-2">

  	        		<img style="width: 150px;" src="<%= offer.event.imageurl %>">

  	        	</div>
  	      		<div class="col-md-2">
                <form action='/user_contact' method='post'>
                  <input type='hidden' value="<%=offer.user_id%>" name='user_id' id='user_id'>
                  <input type='hidden' value="<%=offer.id%>" name='offer_id' id='offer_id'>

  	      			  <button action='submit' class="btn btn-success">BUY</button>
                </form>
  	      		</div>
  	      		<div class="col-md-2">
  	      			<button class="btn btn-info"><a href="/offer/<%=offer.id()%>">View</a></button>
  	      		</div>
              <div class="col-md-2">
                <%= offer.event.date() %>

  	      		</div>

      		</div>
      	</div>
    <% end %>

</div>
</body>
 <!-- <% @categories.each() do |category| %>
   <form action='/categorysearch' method='get' class="categories">
     <button class="btn" type="submit" value="<%=category.id()%>" name="categorysearch"><%= category.name() %></button>
   </form>
<% end %> -->
